VITE_APPWRITE_URL = "Your Appwrite url"
VITE_APPWRITE_PROJECT_ID = "Your project id"
VITE_DATABASE_ID = "Your database id"
VITE_TABLE_ID = "Your collection id"
VITE_BUCKET_ID = "Your bucket Id"
VITE_TINYMCE_ID = "Your tinymce id"
